#contents {
    width: 500px;
    height: 330px;
    background-color: #eee;
    padding: 10px 20px;
    padding-left: 20px;
    position: relative;
    top: 150px;
    
}

#tabMenu {
    float: left;
    width: 450px;
    height: 100%;
    margin-top: 10px;
}

#tabMenu input[type="radio"] {
    display: none;
}

#tabMenu label {
    display: inline-block;
    margin: 0 0;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #333;
    border: 1px solid transparent;
}

#tabMenu label:hover {
    color: #222;
    cursor: pointer;
}

#tabMenu input:checked + label {
    color: #b00;
    border: 1px solid #ddd;
    background-color: #eee;
}

.tabContent {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

.tabContent h2 {
    display: none;
}

#notice ul {
    list-style: disc;
    margin-left: 30px;
    font-weight: 700;
}

#notice ul li {
    font-size: 16px;
    line-height: 1.8;

}

#gallery ul li {
    display: inline;
}

#gallery ul li img {
    width: 100px;
    height: 100px;
}

#tab1:checked ~ #notice,
#tab2:checked ~ #gallery {
    display: block;
}
